
.center{
    position: absolute;
    top: 10%;
    left: 50%;
   
    color: rgb(243, 201, 15);
    font-size: 30px;
    padding: 30px 60px;
    transform: translate(-50%,-50%);
    box-shadow: 0px 25px 50px rgba(0,0,0,0.5);
    overflow: hidden;
    transition: 1s;
   



}
.center::before{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 50%;
    background: rgba(255,255,255,0.05);
    
   
}
@keyframes anim1{
           0%{
               transform: translate(-100%);

           }
           100%{
               transform: translate(100%);

           }




}
.center span:nth-child(1){
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right,#0c002b,#f6051d);
    animation: anim1 2s linear infinite;
    
}
@keyframes anim1{
    0%{
        transform: translate(-100%);

    }
    100%{
        transform: translate(100%);

    }




}
.center span:nth-child(2){
    position: absolute;
    right: 0px;
     top: 0px;
    
    width: 3px;
    height: 100%;

    background: linear-gradient(to bottom,#ea092b,#d1ec06);
    animation: anim2 2s linear infinite;
    animation-delay: 1;

    
}
@keyframes anim2{

    0%{
        transform: translateY(-100%);

    }
    100%{
        transform: translateY(100%);

    }




}
.center span:nth-child(3){
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 1px;
    background: linear-gradient(to left,#f50505,#e96704);
    animation: anim3 2s linear infinite;


}  
    @keyframes anim3{

        0%{
            transform: translateX(100%);

        }
        100%{
            transform: translateX(-100%);

        }




}

.center span:nth-child(4){
    position: absolute;
    left: 0px;
     bottom: 0px;
    
    width: 2px;
    height: 100%;

    background: linear-gradient(to top,#0c002b,#1779ff);
    animation: anim4 2s linear infinite;
    -o-animation-delay: 1;

    
}
@keyframes anim4{
    0%{
        transform: translateY(100%);

    }
    100%{
        transform: translateY(-100%);


    }




}
.center:hover{
    background: #EEE818;
    box-shadow: 0px 25PX 50PX #EEE818 ;
    color: black;
}
.center:hover span{
    background: #EEE818;
}
.center{
   height: 3px;
   width:max-content;
   margin-bottom: 100px;
   padding-bottom: 30px;
   position: absolute; }
body{
        height:40wh;
        background-color:white;
         font-family: sans-serif;
    padding-top: 5rem;
    font-family:'Times New Roman', Times, serif

}
.container{
    padding: 1em;
    background-color: #3386FF;
    display: flex;
    flex-direction:column;
    text-align: center;
    margin: auto;
    width: 70vw;
    height: 40vw;
    border-radius: 3rem;
    box-shadow: rgb(223, 243, 7) 1px 8px 24px;
}

.change-table{
    max-width: 70vw;
    word-wrap: break-word;
}
#check-btn{
    margin: 2em auto;
    width: 16em;
    height: 2.5em;
    color: rgb(244, 10, 53);
    background-color:#0b0214
    border-radius: 4em;
    font-size: large;

}


table,th,td{
    border: solid 5px black;
    border-collapse: collapse;
    border: radius 2px;;
    padding: 0.2em;
    border-style:calc();
}
.heading {
    font-weight: bold;
    font-size: large;
}

.input-label{
    margin: 0.5em auto;
    font-weight: bold;
}
input{
    width: 18vw;
    height: 5vh;
    margin-left: 36%;
    border: solid 4px;
    border-radius: 0.8em;
    outline: rgb(227, 11, 11);
    padding: 0.5em 1em;
}

p{
    margin: 0.3em auto;
    word-wrap: break-word;
}
body{

    background-color: rgb(118, 118, 201);
     font-family: sans-serif;
 
 }
 
 footer {
  height: 5vh;
  text-align: center;
  display: flex;
  background-color: rgb(159, 215, 233);
  justify-content: center;
  gap: 1px;
  padding-bottom: 8px;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;

}